<html>
<head>
</head>
<body>
    <body bgcolor="#EAEAEA">
    <table width="98%" border="0">
        <tbody>
            <tr>
                <td>
                    <div align='left'> accountID: 
                        <font color="red"><B> {{ username }} </B> </font>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        ****server:<font color="red"><B> {{ server }} --- {{ host }} {{ port }} | appKey: [{{ appkey }}] secret:[{{ secret }}] </B> </font>
                    </div>
                    
                </td>

                <td><div align="center">ULUCU API</div></td>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-footer"></div>
                </div>
                </div>
            </tr>
        </tbody>
    </table>
</body>
</body>
</html>
